Asunto: Paid Linguistics Study for Spanish Speakers (look at the requirements)
De: Darlene Reyes <darlenereyes2015@u.northwestern.edu>
Fecha: 10/19/2012 1:35 PM
Para: <ISRC-UPPER@LISTSERV.IT.NORTHWESTERN.EDU>


    The study involves two sessions (on two separate days) of listening to English and Spanish. Each session usually lasts under 1.5 hours and you will be paid $10/hour cash for your time upon completion of each session. Please see the attached flier for more information. To qualify, participants must have attended grammar school through high school in a Spanish speaking country in which the medium of instruction was Spanish. Participants must currently attend an English speaking school or work in an English speaking setting. If interested, please e-mail nulanguagestudies@gmail.com and put "L1L2 Balance" in the subject line for more information.


-- 
Darlene Reyes 
International Studies | Northwestern University | Class of 2015 
Coordinator | Council of Latino Volunteers for Education
Fellow | Teach for America's Rising Leaders Fellowship
Secretary | International Studies Residential College
Service Chair | Alianza - The Hispanic/Latino Student Alliance
Mentor | Quest Mentoring Program





Adjuntos:
Bradlow-grant-flyer-SpanishNative.pdf	92.9 KB