Asunto: 2013WI_CHEM_230-2_SEC01_SEC02_AND_SEC03: Change in report requirements
De: Cornelius Okatahi Audu <CorneliusAudu2017@u.northwestern.edu>
Fecha: 1/24/2013 10:25 AM
Para: "2013WI_CHEM_230-2_SEC01_SEC02_AND_SEC03":;

Hello Everyone,

I wish you the best on your exam today! Remember save hard questions for later :). Anyways I wanted to inform you that there was a change in my syllabus regarding report requirements. Do not bother about placing sample calculations in your typed report. Only do the calculations that are in the appendices which are on BB. This should give you some more space and time to get everything in the required page limit.

Best of Luck,
Cornelius

PS. Make sure you do the modelling component if you haven't done so already.
